<div class="center hero-unit">
  <h1>Welcome to DISKM</h1>

  <h2>
    Search for SE knowledges here 
Or 
contribute to others for better knowledge
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>